

<div class="flex">
    <div class="flex-logo">
        <a class="logo" routerLink="/">The Matrix</a>
    </div>
    <div class="flex-search" >
        <input/>
        <button>Search</button>
    </div>
    <div class="flex-content-parent">
    <div class="flex-content">
        <div *ngIf="isLoggedIn">
            <a routerLink="/profile">{{data[1].username}}</a>
        </div>
        <a routerLink="/">Home</a>
        <a routerLink="/checkout">Cart</a>
        
        <div *ngIf="isLoggedIn else notLoggedInBlock">
            <a (click)="logout()">Logout</a>
        </div>
        <ng-template #notLoggedInBlock>
            <a routerLink="/login">Login</a>
          </ng-template>
       
    </div>
</div>
</div>
